#header{
    display :flex;
    
    align-items: center;
    justify-content: space-between;
    box-shadow:0 5px 15px rgba(0,0,0,0.06);
    background: #E3E6F3;
    padding:20px 80px;
}
body{
    margin:0px;
}

#navbar{
    display:flex;
    justify-content: center;
    align-items:center;
}
#navbar li{
    padding:0 20px;
    list-style: none;
   
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
        
    

}
#navbar li a:hover{
    color:#088178;
    transition:0.3s ease;
}